body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;

}

.new-task-form{
    display: flex;
    margin: 20px;
}


.input-task-name {
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    font-size: 16px;
}

.add-task-button {
    display: flex;
    background-color: #007bff; /* Button color */
    color: white; /* Text color */
    text-decoration: none; /* Removes underline from links */
    border: none; /* Removes border */
    cursor: pointer; /* Changes cursor to pointer on hover */
    border-radius: 8px; /* Rounds the edges */
    width: 100px;
    justify-content: center;
    align-items: center;
}
.add-task-button:hover {
    background-color: #005dc1;
}

.task-list{
    background-color: #969696;
    padding: 8px;
    border-radius: 8px;
}

.task-row{
    display: flex;
    align-items: center;
    background-color: #e4e4e4;
    border-radius: 8px;
    margin: 10px 0;
    padding-left: 10px;
    padding-right: 10px;
    
}

.task-name {
    flex: 1;
    padding: 10px;
    font-size: 16px;

}

.delete-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    padding: 5px 10px;
    margin: 5px;
    background-color: #f44336;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
}
.delete-btn:hover {
    background-color: #d32f2f; /* Darker Red */
    cursor: pointer;
}

li {
    font-family: sans-serif;
}

h2 {
    font-family: sans-serif;
    text-align: center;
}

p {
    font-family: sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
}

